# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/ssl

# misc
.DS_Store
.env
*.log*
*.lock*
/src/json/*.json