# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
ssl

# misc
.DS_Store
.idea
.env
*.log
*.lock
*.map
*.tmp
src/json/*.json